.mainBlock {
    height: 100vh;
    background-color: #ebb2bb;
}

.greetingText {
    width: 300px;
    background-color: #f9dae2;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f9dae2
}