.projectsBlock {
    background-color: #fff;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (min-width: 624px){
    .projects {
        justify-content: space-between;
    }
}